fastapi
uvicorn
python-multipart
pydantic
python-dotenv

streamlit
requests

pymupdf
pandas
numpy
scikit-learn
xgboost
joblib
shap
matplotlib

faiss-cpu
rank-bm25

openai

langchain
langchain-openai
langchain-community==0.3.31
langgraph
langchain-text-splitters

langsmith