fastapi
uvicorn
python-multipart
pydantic
python-dotenv

streamlit
requests

pymupdf
pdfplumber
python-docx
pandas
openpyxl

faiss-cpu
rank-bm25
sentence-transformers

langchain
langchain-openai
langgraph
openai

numpy
scikit-learn
xgboost
shap