fastapi
uvicorn
python-multipart
pydantic
python-dotenv

streamlit
requests

pymupdf
pandas

numpy
scikit-learn

faiss-cpu
rank-bm25

openai

langchain
langchain-openai
langgraph
langchain-text-splitters